services:
  mq:
    image: rabbitmq:4-management
    container_name: mq
    ports:
      - "5673:5672"
      - "15673:15672"
    volumes:
      - ./data/rabbitmq/data/:/var/lib/rabbitmq/
      - ./data/rabbitmq/log/:/var/log/rabbitmq
    restart: always

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
      - "6335"
    volumes:
      - qdrant-data:/qdrant_data
    restart: always

#  sql_service:
#    image: timescale/timescaledb:latest-pg17
#    environment:
#      - POSTGRES_USER=time-user
#      - POSTGRES_PASSWORD=time-pw
#      - POSTGRES_DB=timescaledb
#    ports:
#      - "5433:5432"
#    expose:
#      - 5433
#    volumes:
#      - timescaledb_data:/var/lib/postgresql/data
  sql_service:
    image: ${POSTGRES_IMAGE:-postgres:16}
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      # Fallback defaults if .env is not provided
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    # command:
    #   - -c
    #   - ssl=on
    #   - -c
    #   - ssl_cert_file=/var/lib/postgresql/data/server.crt
    #   - -c
    #   - ssl_key_file=/var/lib/postgresql/data/server.key
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      # Place any .sql or .sh files under ./data/postgres/initdb to run once on first init
      - ./data/postgres/initdb:/data-entrypoint-initdb.d:ro


  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    # Use below command if can't pull the image directly:
    # sudo data run --network=host --ulimit memlock=-1 data.dragonflydb.io/dragonflydb/dragonfly
    ulimits:
      memlock: -1
    ports:
      - "6381:6379"
    # For better performance, consider `host` mode instead `port` to avoid data NAT.
    # `host` mode is NOT currently supported in Swarm Mode.
    # https://docs.docker.com/compose/compose-file/compose-file-v3/#network_mode
    # network_mode: "host"
    volumes:
      - dragonflydata:/data

  falkordb:
    image: falkordb/falkordb:latest
    container_name: falkordb
    ports:
      - "6379:6379"
      - "3010:3000"
    volumes:
      - ./data/falkordb:/data


  feature_pipeline:
    container_name: feature-pipeline
    build:
      context: .
      dockerfile: .docker/Dockerfile.feature_pipeline
    environment:
      BYTEWAX_PYTHON_FILE_PATH: "main:flow"
      DEBUG: "false"
      BYTEWAX_KEEP_CONTAINER_ALIVE: "true"
      DISABLE_MONGO: "true"
      RABBITMQ_HOST: "mq"
      QDRANT_DATABASE_HOST: "qdrant"
    env_file:
      - .env
    depends_on:
      - mq
      - qdrant
    restart: always

  app:
    container_name: Bank-copilot-backend
    build:
      context: .
      dockerfile: .docker/Dockerfile.app
    environment:
      DEBUG: "false"
      DISABLE_MONGO: "true"
      RABBITMQ_HOST: "mq"
      QDRANT_DATABASE_HOST: "qdrant"
    env_file:
      - .env
    depends_on:
      - dragonfly
      - mq
      - qdrant
    restart: always

  langgraph:
    container_name: langgraph-api
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URI: "postgresql://${POSTGRES_USER:-admin}:${POSTGRES_PASSWORD:-password}@sql_service:5432/${POSTGRES_DB:-postgres}"
      REDIS_URI: "redis://dragonfly:6379/0"
    env_file:
      - .env
    ports:
      - "2024:8000"
    depends_on:
      - sql_service
      - dragonfly
    restart: always



volumes:
  qdrant-data:
  #timescaledb_data:
  dragonflydata:
  pgdata:
